{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Qizlar va Ayollar uchun shimlar | sifatli shimlar | BigBazar </title>
    <link rel="stylesheet" href="{% static 'css/decs.css' %}">
    <link rel="stylesheet" href="{% static 'bootcss/bootstrap.css' %}">
</head>
<body id="body">

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">

      <a href="https://www.instagram.com/bigbazaar.uz/?hl=en" class="flex-parent text-dark ">
        <div class=""><img id="insta" class="" src="{% static 'images/instagram.png' %}" alt="image"></div>
        <div class="ml-2 text-white">info-BigBazar</div>
    </a>
    <a href="https://t.me/Mansuroffakhad" class="flex-parent text-dark">
        <div class=""><img id="insta" class="" src="{% static 'images/send.png' %}" alt="image"></div>
        <div class="ml-2 text-white">info-BigBazar</div>
      </a>
      <form class="d-flex input-group w-auto">
      <input
        type="search"
        class="form-control rounded"
        name="search"
        placeholder="Brand bo'yicha qidiring..."
        aria-label="Search"
        aria-describedby="search-addon"
      />

    </form>
      <div class="flex-parent ml-3">
        <div class=""><img id="insta" class="" src="{% static 'images/telephone-call.png' %}" alt="image"></div>
        <div class="ml-2 text-white">+890 9995101</div>
      </div>


  </div>
</nav>


<div class="container">
    <div id="navbar" style="border-radius: 30px" class="navbar sticky-top navbar-expand-lg navbar-light bg-light mt-3">
        <a href="{% url 'home' %}" id="logo" class="navbar-brand">

            <div><img class="logo" src="{% static 'images/mylogo.jpg' %}" alt=""></div>
            <div class="logo_name mt-2 ml-3">BigBazar</div>

        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-5" id="menu">
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item"><a href="{% url 'dress' %}" class="nav-link" >Kiyim</a></li>
                <li class="nav-item"><a href="{% url 'shoe' %}" class="nav-link " >Obuv</a></li>
                <li class="nav-item"><a href="{% url 'bag' %}" class="nav-link">Sumka</a></li>
                <li class="nav-item"><a href="{% url 'treasure' %}" style="color: rgba(239, 32, 203, 0.9)" class="nav-link">Shim-yubka</a></li>
                <li class="nav-item"><a href="{% url 'hijab' %}" class="nav-link">Hijab</a></li>
                <li class="nav-item"><a href="{% url 'romol' %}" class="nav-link">Ro'mol</a></li>


            </ul>
        </div>

    </div>
        <div class="row  align-content-md-start mt-3">
        {% for t in treasure %}
        <div class="card mb-2 mt-2" >
            <img class="img_height card-img-top" src="{{t.image.url}}" alt="Card image cap">
            <div class="card-body">
                <h6 class="text-center"><span class="badge badge-primary">{{ t.category }}</span></h6>
            <div class="flex-parent justify-content-between">
                <p style="font-size: 15px" class="text-black-50 flex-parent mt-1">
                    Brand <strong style="font-size: 16px" class="text-dark ml-1">{{t.brand}}</strong>
                </p>
                <p style="font-size: 15px" class="text-black-50 flex-parent mt-1">
                    Model <b style="font-size: 16px" class="text-dark ml-1">{{t.model}}</b>
                </p>
                </div>
                <div class="flex-parent justify-content-between mb-3">
                <p style="font-size: 15px" class="text-black-50 flex-parent ">
                    Razmer <strong style="font-size: 16px" class="text-dark ml-1">{{t.razmer}}</strong>
                </p>
                <p style="font-size: 15px" class="text-black-50 flex-parent ">
                    Narxi <b style="font-size: 16px" class="text-dark ml-1">{{t.price}}</b>
                </p>
                </div>
                <div class="a-btn col text-center position-absolute">
                    <a href="{% url 't-detail' t.id %}"   class="  btn btn-success text-center pt-1 pb-1">
                        Sotib olish
                    </a>
                </div>
            </div>

            </div>
            {% endfor %}
            </div>
</div>
<div class="pagin">
    {% if treasure.has_previous %}
        <a class="pagin-action" href="?page={{ treasure.previous_page_number }}"><</a>
    {% endif %}

    {% for num in treasure.paginator.page_range %}
        {% if treasure.number == num %}
            <span class="pagin-num pagin-cur">{{ num }}</span>
        {% elif num > treasure.number|add:'-3' and num < treasure.number|add:'3' %}
            <a class="pagin-num" href="?page={{ num }}"> {{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if treasure.has_next %}
        <a class="pagin-action" href="?page={{ treasure.next_page_number }}"> > </a>
    {% endif %}


</div>





</body>
</html>